<div class="text-center text-gray-800 py-20 px-6">
  <h3 class="text-3xl">
    Your shortened url:
    <a class="text-teal-500" href={"#{@shortened_url}"} target="_blank">
      <%= @shortened_url %>
    </a>
  </h3>
</div>
